* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.container {
  width: 600px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 100px;
  scroll-behavior: smooth;
  overflow: scroll;

}

.filter {
  width: 200px;
  height: 25px;
  outline: none;
  margin: 5px 0px
}

.wrapper {
  width: 100%;
}

.wrapper thead tr th {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0px;
  align-items: center;
}

.tbody {
  text-align: center;
}

.tbody .name-id:hover {
  color: white;
  background-color: blue;
}

.tbody td {
  border: 0.5px solid black;
  border-collapse: collapse;
}

.tbody td button {
  width: fit-content;
}